In [1]:
import sklearn 
import pandas as pd
import xml.etree.ElementTree as ET
import random
import sys

from sklearn.metrics import f1_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

from math import sqrt
from scipy.stats import t


__First of all they did not mentioned what sklearn version they used!!!__


As described in the paper, the first step is to select base classifiers. 
The selected base classifiers are trained with default parameter settings with 10-fold cross-validation.
As input data, the training data set and its ground truth labels, per single modality is used.
For the audio MFCC features, we set NaN values to 0, and calculate the average of each MFCC coefficient over all frames.

# Load input data


# Description:

## Available Data
There are variouse csv files and data files available. It's very messy. 
There is one file called "CoE_dataset_offical_release.zip"! 
We extract this file and use this data included their for now! 

## Meta Data
In the original paper there is no information given what is included in the metadata. 
Looking at the paper describing the data set (Right Inflight? A Dataset for Exploring the Automatic Prediction of Movies Suitable for a Watching Situation
) we found out that as metadata they used language, year published, genre, country, runtime and age rating. We assume, since the author of our paper didn't say otherwise, that they used the same metadata. 

## User Rating
User rating is just mentioned in Table 1 and the dataset paper. It is not mentioned again in the CoE paper, althought user rating is important for good performance as mentioned in the dataset paper. 

__I would assume that the CoE paper just used user rating in the "metadata", since it's saved in the same file"__

## Visual Data: 
The visual data is provied as a csv file for each movie, containing two rows. According to the paper of the dataset they calculated following visual features, Histogram of Oriented Gradients (HOG) gray, Color Moments, local binary patterns (LBP) and Gray Level Run Length Matrix, but don't say how the csv file represents them. Also as mentioned the csv file just has two rows which would not ad up to the mentioned 4 visual features. __We are treating all values as seperate column!__

## Audio Data: 
Audio features is also provided per movie as a csv file. Each audio feature consits of 12 coefficients for multiple frames.

## Textual Data
The textual data is just one file containing the tdf-idf matrix. The first line are the row names for each word. 
While the columns are the associated movie. __There is no indication to which movie each column belongs! Thus we need to assume this!__

__For now we assume the order is the same as in the df_labled_movies dataframe!!!__

In [103]:

df_labled_movies = pd.read_csv("./data/CoE_dataset/Dev_set/dev_set_groundtruth_and_trailers.csv", sep=';')
del df_labled_movies['trailer']
df_labled_movies = df_labled_movies[['movie','filename', 'goodforairplane']]
display(df_labled_movies.head(10))


###############################################################
### Load Meta Data ###

def load_meta_data( filenames ): 
    
    raw_data = []
    
    for file in filenames: 
        file_path = f'./data/CoE_dataset/Dev_set/XML/{file}.xml'
        with open(file_path) as f: 
            tree = ET.parse(f)
            movie = tree.find('movie')
            
            lang = movie.get('language')
            year = movie.get('year')
            genre = movie.get('genre')
            country = movie.get('country')
            runtime = movie.get('runtime')
            age_rating = movie.get('rated')
             
            raw_data.append( (file,lang,year,genre,country,runtime,age_rating) )
    
    return pd.DataFrame(raw_data, columns=['filename','language','year','genre','country','runtime','rated'])

df_meta_data = load_meta_data( df_labled_movies['filename']  )
pd.merge(df_labled_movies.drop(['movie'],axis=1),df_meta_data, on='filename').to_csv('data/meta_data_exported.csv',sep=";",index = False)

display(df_meta_data.head(10))
#display(df_meta_data.dtypes)

###############################################################
### Load User Rating Data ###

def load_user_rating_data( filenames ): 
    
    raw_data = []
    
    for file in filenames: 
        file_path = f'./data/CoE_dataset/Dev_set/XML/{file}.xml'
        with open(file_path) as f: 
            tree = ET.parse(f)
            movie = tree.find('movie')
            
            tomato_rating = movie.get('tomatoUserRating')
            imbd_rating = movie.get('imdbRating')
            meta_rating = movie.get('metascore')
             
            raw_data.append( (file,tomato_rating,imbd_rating,meta_rating) )
    
    return pd.DataFrame(raw_data, columns=['filename','tomatorating','imbdrating','metarating'])


df_user_rating_data = load_user_rating_data( df_labled_movies['filename']  )
pd.merge(df_labled_movies.drop(['movie'],axis=1),df_user_rating_data, on='filename').to_csv('data/user_rating_data_exported.csv',sep=";",index = False)
display(df_user_rating_data.head(10))
#display(df_user_rating_data.dtypes)


###############################################################
### Load Visual Data ###

def load_visual_data( filenames ):
    data_list = []
    
    for file in filenames: 
        file_path = f'./data/CoE_dataset/Dev_set/vis_descriptors/{file}.csv'
        df_data = pd.read_csv(file_path,index_col=None, header=None)
        data_list.append(df_data)
        
    return pd.concat(data_list, axis = 0, keys = filenames,names=('filename','vis_data'),  sort=False)

df_visual_data = load_visual_data( df_labled_movies['filename']  )
pd.merge(df_labled_movies.drop(['movie'],axis=1),df_visual_data, on='filename').to_csv('data/visual_data_exported.csv',sep=";",index = False)

display(df_visual_data.head(10))


###############################################################
### Load Audio Data ###

# def load_audio_data( filenames ):
#     data_list = []
    
#     for file in filenames: 
#         file_path = f'./data/CoE_dataset/Dev_set/audio_descriptors/{file}.csv'
#         df_data = pd.read_csv(file_path,index_col=None, header=None)
#         data_list.append(df_data)
        
#     return pd.concat(data_list, axis = 0, keys = filenames,names=('filename','freq_coeff'),  sort=False)

# df_audio_data = load_audio_data( df_labled_movies['filename']  )
# display(df_audio_data.head(20))

def load_audio_data( filenames ):
    data_list = []
    
    audio_data = pd.DataFrame()
    for file in filenames: 
        file_path = f'./data/CoE_dataset/Dev_set/audio_descriptors/{file}.csv'
        df_data = pd.read_csv(file_path,index_col=None, header=None).T
        
        # preprocess data
        df_data = df_data.fillna(0)
        df_data = pd.DataFrame(df_data.mean(axis = 0)).T
        df_data["filename"] = file
        audio_data = audio_data.append(df_data)
    audio_data = audio_data.set_index("filename") 
    return audio_data

df_audio_data = load_audio_data( df_labled_movies['filename']  )
pd.merge(df_labled_movies.drop(['movie'],axis=1),df_audio_data, on='filename').to_csv('data/audio_data_exported.csv',sep=";",index = False)

display(df_audio_data.head(20))


###############################################################
### Load textual Data ###

def load_text_data(filenames):
    

    data_list = []
    file_path = f'./data/CoE_dataset/Dev_set/text_descriptors/tdf_idf_dev.csv'
    #somehow pandas can not really handle that the first line is row names.(at least I didn't find a better way) 
    # thus we do it a little complicated here
    header_index = pd.read_csv(file_path, index_col=0,nrows=1 ).reset_index().columns
    df_data = pd.read_csv(file_path, header=None, index_col=False,skiprows=1)
    df_data.set_index(header_index, inplace=True)
    df_data.columns = filenames
    return df_data.T #row are should be represented by movie names

df_text_data = load_text_data(df_labled_movies['filename'] )
display(df_text_data.head(20))
#display(df_text_data.shape)
#display(df_text_data.describe())

,movie,filename,goodforairplane
0,Seventh Son,Seventh_Son,1
1,Welcome to Me,Welcome_to_Me,0
2,The Judge,The_Judge,0
3,Transformers Age of Extinction,Transformers__Age_of_Extinction,0
4,The Normal Heart,The_Normal_Heart,1
5,The Phantom Tollbooth,The_Phantom_Tollbooth,1
6,Andaz Apna Apna,Andaz_Apna_Apna,1
7,Hotel Transylvania,Hotel_Transylvania,1
8,The Matrix,The_Matrix,1
9,Into the Wild,Into_the_Wild,1

,filename,language,year,genre,country,runtime,rated
0,Seventh_Son,English,2014,"Action, Adventure, Fantasy","USA, UK, Canada, China",102 min,PG-13
1,Welcome_to_Me,English,2014,"Comedy, Drama",USA,105 min,R
2,The_Judge,English,2014,Drama,USA,141 min,R
3,Transformers__Age_of_Extinction,English,2014,"Action, Adventure, Sci-Fi","USA, China",165 min,PG-13
4,The_Normal_Heart,English,2014,Drama,USA,132 min,TV-MA
5,The_Phantom_Tollbooth,English,1970,"Family, Adventure, Animation",USA,90 min,G
6,Andaz_Apna_Apna,Hindi,1994,"Comedy, Family, Romance",India,160 min,PG
7,Hotel_Transylvania,English,2012,"Animation, Comedy, Family",USA,91 min,PG
8,The_Matrix,English,1999,"Action, Sci-Fi","USA, Australia",136 min,R
9,Into_the_Wild,"English, Danish",2007,"Adventure, Biography, Drama",USA,148 min,R

                          filename tomatorating imbdrating metarating
0                      Seventh_Son          2.9        5.5         30
1                    Welcome_to_Me          3.4        6.2         67
2                        The_Judge          3.8        7.5         48
3  Transformers__Age_of_Extinction          3.3        5.8         32
4                 The_Normal_Heart          4.2        8.0        N/A
5            The_Phantom_Tollbooth          3.8        7.0        N/A
6                  Andaz_Apna_Apna          4.5        8.8        N/A
7               Hotel_Transylvania          3.9        7.1         47
8                       The_Matrix          3.6        8.7         73
9                    Into_the_Wild          4.1        8.2         73

                                               0        1        2    \
filename                        vis_data
Seventh_Son                     0         0.047044  0.11619  0.13633
                                1         0.056526  0.12516  0.14628
Welcome_to_Me                   0         0.307170  0.33422  0.33112
                                1         0.304660  0.33193  0.33124
The_Judge                       0         0.000000  0.00000  0.00000
                                1         0.000000  0.00000  0.00000
Transformers__Age_of_Extinction 0         0.199960  0.26934  0.27986
                                1         0.189130  0.25738  0.27465
The_Normal_Heart                0         0.000000  0.00000  0.00000
                                1         0.000000  0.00000  0.00000

                                               3         4         5    \
filename                        vis_data
Seventh_Son                     0         0.066194  0.072554  0.172670
                                1         0.082497  0.079331  0.175380
Welcome_to_Me                   0         0.331240  0.311140  0.336440
                                1         0.331380  0.307880  0.332700
The_Judge                       0         0.000000  0.000000  0.000000
                                1         0.000000  0.000000  0.000000
Transformers__Age_of_Extinction 0         0.237250  0.308440  0.332420
                                1         0.236640  0.303320  0.329890
The_Normal_Heart                0         0.000000  0.038749  0.083701
                                1         0.000000  0.201350  0.297900

                                              6         7         8    \
filename                        vis_data
Seventh_Son                     0         0.21519  0.070574  0.071423
                                1         0.21839  0.093521  0.074837
Welcome_to_Me                   0         0.33616  0.344790  0.169830
                                1         0.33357  0.343050  0.173300
The_Judge                       0         0.00000  0.000000  0.000000
                                1         0.00000  0.000000  0.000000
Transformers__Age_of_Extinction 0         0.32998  0.325000  0.307350
                                1         0.32888  0.322460  0.305430
The_Normal_Heart                0         0.10544  0.121500  0.038749
                                1         0.39682  0.553360  0.201350

                                               9      ...           816  \
filename                        vis_data              ...
Seventh_Son                     0         0.149380    ...        731.69
                                1         0.150250    ...        689.95
Welcome_to_Me                   0         0.273790    ...        394.34
                                1         0.280760    ...        397.26
The_Judge                       0         0.000000    ...     230400.00
                                1         0.000000    ...     230400.00
Transformers__Age_of_Extinction 0         0.334310    ...       1112.60
                                1         0.335510    ...       1120.60
The_Normal_Heart                0         0.083701    ...      34463.00
                                1         0.297900    ...      41786.00

                                                817        818        819  \
filename                        vis_data
Seventh_Son                     0            502.01   1.897000   2.278800
                                1            474.97   2.267600   2.588700
Welcome_to_Me                   0            167.91  20.337000  21.276000
                                1            168.23  20.426000  21.300000
The_Judge                       0         119950.00   0.000001   0.002466
                                1         119950.00   0.000001   0.002466
Transformers__Age_of_Extinction 0            668.67  15.790000  14.923000
                                1            669.56  15.086000  14.700000
The_Normal_Heart                0          20376.00   1.368300   7.344700
                                1          19786.00  13.071000  11.296000

                                                820        821       822  \
filename                        vis_data
Seventh_Son                     0          2.141200   2.950400   91672.0
                                1          2.402200   3.216700   81373.0
Welcome_to_Me                   0         18.527000  21.189000   81665.0
                                1         18.608000  21.182000   83171.0
The_Judge                       0          0.000004   0.002466  729320.0
                                1          0.000004   0.002466  729320.0
Transformers__Age_of_Extinction 0         15.017000  14.779000  208630.0
                                1         14.859000  14.723000  211630.0
The_Normal_Heart                0          8.014600   7.379800  145760.0
                                1         11.202000  11.306000   79962.0

                                               823       824       825
filename                        vis_data
Seventh_Son                     0          22207.0   26201.0   14542.0
                                1          21045.0   24225.0   13529.0
Welcome_to_Me                   0          13672.0   32531.0   13753.0
                                1          13714.0   32774.0   13780.0
The_Judge                       0         119950.0  230400.0  119950.0
                                1         119950.0  230400.0  119950.0
Transformers__Age_of_Extinction 0          23968.0   47979.0   24059.0
                                1          24019.0   48339.0   24090.0
The_Normal_Heart                0          20730.0   35320.0   20831.0
                                1          20617.0   45216.0   20738.0

[10 rows x 826 columns]

,0,1,2,3,4,5,6,7,8,9,10,11,12
filename,,,,,,,,,,,,,
Seventh_Son,67.562481,-4.525200,1.646300,-0.597742,1.362810,-1.361579,0.170381,-0.500409,-0.050339,-0.269793,-0.232489,-0.197553,0.132640
Welcome_to_Me,61.548885,-7.146781,-1.103407,-1.588020,0.249743,0.003055,-2.313552,0.371521,0.516853,-1.405396,-0.951247,1.316795,-0.095459
The_Judge,65.038918,-4.171344,-0.455058,-0.094249,-0.365649,-0.182148,0.700715,-0.195335,-0.204333,-1.281841,0.301911,-0.197494,0.861993
Transformers__Age_of_Extinction,64.544291,-3.661545,-0.010532,-0.802876,-0.614974,-0.255984,0.810787,0.465672,0.271618,-0.691701,0.161240,0.310825,0.214620
The_Normal_Heart,60.433903,0.148386,1.713255,-0.203955,-1.187262,-2.310341,-1.726492,-0.512949,0.270257,-0.098537,0.705479,-0.059131,0.247545
The_Phantom_Tollbooth,67.733941,-5.089291,-0.748240,-0.682183,-1.731640,-0.041491,-1.306190,-0.118116,-0.910092,-0.553288,-0.406135,-0.624520,0.345393
Andaz_Apna_Apna,2.598534,-7.942452,-2.980142,-0.758373,-2.710261,-0.220628,-3.479323,-1.115996,-1.678447,0.083027,1.137286,-0.572837,-0.661539
Hotel_Transylvania,62.178925,-4.724152,0.341680,-0.268572,0.166337,0.350128,0.676195,-1.085560,0.844897,-0.605142,0.206977,-0.894199,-0.194978
The_Matrix,4.337119,-5.029720,1.256703,-0.728402,-0.159537,0.513793,-1.695766,-0.672339,0.345455,-0.071275,0.627222,-0.634314,0.464510
Into_the_Wild,67.096967,-4.488031,0.673080,-0.406898,-0.206191,-0.330106,-0.422734,0.161957,-0.051439,0.220419,0.732448,-0.069417,-0.018783
Jerry_Maguire,59.930923,-1.906988,0.603441,0.914101,-0.283388,-0.305628,0.793198,0.236990,-0.158463,-1.571258,0.290018,-0.407452,0.884354
Lord_of_the_Flies,63.992982,-4.887314,1.184304,-0.298645,1.647792,0.366099,0.670214,-0.972658,0.223702,-0.571237,-0.373243,0.191688,0.623847
The_Great_Gatsby,60.802236,-3.202862,-0.137394,-1.303282,-1.620964,-1.589518,-0.606295,3.155484,-1.630502,-1.044670,0.670125,-1.176331,2.439491
Inherent_Vice,67.440295,-6.760009,1.420292,-0.257228,1.201819,-0.855026,-0.107265,0.259763,0.218988,-1.546351,0.195911,-0.335295,-0.196781
Donnie_Darko,63.262131,-4.001263,-0.532551,0.850454,1.333069,-0.232508,0.580081,1.147484,-0.130754,0.946581,0.502669,2.215614,1.049933
Anna_Karenina,60.472646,-2.038670,0.096491,-0.017046,-1.301551,-0.863634,-0.500623,-0.194990,-0.411277,-2.115246,-1.348514,-1.201515,-1.126672
American_Gangster,65.354709,-5.609515,-1.303409,-0.831993,-0.518848,-0.019373,-0.500203,-0.897985,0.148561,-0.666728,0.033135,0.383797,-0.209412
Full_Metal_Jacket,-2.773116,-5.275188,-0.259990,0.602266,0.827804,-1.163084,-0.740480,-0.477125,0.389570,0.168639,-0.909048,-0.709854,0.391342
Words_and_Pictures,63.548748,-2.829212,0.741721,0.560949,0.289479,0.241850,0.137402,-0.323627,0.438103,-0.864213,-0.430406,0.139107,-0.184462
John_Wick,69.251861,-6.645280,-0.003547,-0.146761,-0.195241,-0.769486,-0.012939,0.177238,0.690495,-1.168039,0.097113,-0.134139,-1.143005

,24000,baby,baseball,big,doc,escort,frozen,heroes,high,huck,...,years.1,york,yorks,young,young.1,younger,youngja,zebra,zellweger,zoologists
filename,,,,,,,,,,,,,,,,,,,,,
Seventh_Son,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
Welcome_to_Me,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
The_Judge,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
Transformers__Age_of_Extinction,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
The_Normal_Heart,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.051657,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
The_Phantom_Tollbooth,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
Andaz_Apna_Apna,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
Hotel_Transylvania,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.041679,0.0,0.0,0.0,0.0
The_Matrix,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.159570,0.159570,0.000000,0.0,0.0,0.0,0.0
Into_the_Wild,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
Jerry_Maguire,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.071495,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
Lord_of_the_Flies,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.029444,0.0,0.019148,0.019148,0.000000,0.0,0.0,0.0,0.0
The_Great_Gatsby,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
Inherent_Vice,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
Donnie_Darko,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.050142,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
Anna_Karenina,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
American_Gangster,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.032322,0.0,0.0,0.0,0.0
Full_Metal_Jacket,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
Words_and_Pictures,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.024238,0.024238,0.000000,0.0,0.0,0.0,0.0
John_Wick,0.0,0.19349,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0

# Preprocess Data

## Description 

Beside a short description for the audio data there is no more information on how to handle the other data. For example the runtime currently is not handles as a number but as a string(object)
Since sklearn mostly expects numerical inputs, we need to encode the data. 

For different class normally you would use one-hot-encoding, but since it's not specified let's try first the easiest approach which is Labelencoding.


### Audio Data: 
As mentiones in the paper, NaN values of the audio data are set to 0 and the average of each MFCC coefficient is calculated over all frames.

This is already treated in the section before.

In [142]:

# def pre_process_audio_data():
#     df_data = df_audio_data.fillna(0.0)
#     return df_data.mean(axis=1)
    
def pre_process_visual_data():
    #create columns of the two rows belonging to each movie
    df_data = df_visual_data.unstack()
    return df_data
    
def pre_process_meta_data():
    #create columns of the two rows belonging to each movie
    df_data = df_meta_data.drop(['genre','country','language'],axis=1)
    df_data_genre = df_meta_data['genre'].apply( lambda x: x.replace(" ", "") ).str.get_dummies(sep=",")
    df_data_genre.columns = ['genre_'+str(x) for x in df_data_genre.columns]
    
    df_data_country = df_meta_data['country'].apply( lambda x: x.replace(" ", "") ).str.get_dummies(sep=",")
    df_data_country.columns = ['country_'+str(x) for x in df_data_country.columns]
    
    df_data_language = df_meta_data['language'].apply( lambda x: x.replace(" ", "") ).str.get_dummies(sep=",")
    df_data_language.columns = ['language_'+str(x) for x in df_data_language.columns]

    df_data = pd.concat([df_data,df_data_genre,df_data_country,df_data_language], axis=1)

    df_data['runtime'] = pd.to_numeric(df_data['runtime'].apply(lambda x: x.split(' ')[0] ) )
    df_data['year'] =  df_data['year'].apply(pd.to_numeric)

    return df_data

df_meta_data_processed = pre_process_meta_data()
display(df_meta_data_processed.head(5))

df_audio_data_processed = df_audio_data #pre_process_audio_data()
display(df_audio_data_processed.head(5))

df_visual_data_processed = pre_process_visual_data()
display(df_visual_data_processed.head(5))

,filename,year,runtime,rated,genre_Action,genre_Adventure,genre_Animation,genre_Biography,genre_Comedy,genre_Crime,...,language_Latin,language_Mandarin,language_Navajo,language_Russian,language_Serbian,language_Spanish,language_Swahili,language_Urdu,language_Vietnamese,language_Yiddish
0,Seventh_Son,2014,102,PG-13,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Welcome_to_Me,2014,105,R,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,The_Judge,2014,141,R,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Transformers__Age_of_Extinction,2014,165,PG-13,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,The_Normal_Heart,2014,132,TV-MA,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,0,1,2,3,4,5,6,7,8,9,10,11,12
filename,,,,,,,,,,,,,
Seventh_Son,67.562481,-4.525200,1.646300,-0.597742,1.362810,-1.361579,0.170381,-0.500409,-0.050339,-0.269793,-0.232489,-0.197553,0.132640
Welcome_to_Me,61.548885,-7.146781,-1.103407,-1.588020,0.249743,0.003055,-2.313552,0.371521,0.516853,-1.405396,-0.951247,1.316795,-0.095459
The_Judge,65.038918,-4.171344,-0.455058,-0.094249,-0.365649,-0.182148,0.700715,-0.195335,-0.204333,-1.281841,0.301911,-0.197494,0.861993
Transformers__Age_of_Extinction,64.544291,-3.661545,-0.010532,-0.802876,-0.614974,-0.255984,0.810787,0.465672,0.271618,-0.691701,0.161240,0.310825,0.214620
The_Normal_Heart,60.433903,0.148386,1.713255,-0.203955,-1.187262,-2.310341,-1.726492,-0.512949,0.270257,-0.098537,0.705479,-0.059131,0.247545

                                      0                  1             \
vis_data                                0         1        0        1
filename
Seventh_Son                      0.047044  0.056526  0.11619  0.12516
Welcome_to_Me                    0.307170  0.304660  0.33422  0.33193
The_Judge                        0.000000  0.000000  0.00000  0.00000
Transformers__Age_of_Extinction  0.199960  0.189130  0.26934  0.25738
The_Normal_Heart                 0.000000  0.000000  0.00000  0.00000

                                     2                  3              \
vis_data                               0        1         0         1
filename
Seventh_Son                      0.13633  0.14628  0.066194  0.082497
Welcome_to_Me                    0.33112  0.33124  0.331240  0.331380
The_Judge                        0.00000  0.00000  0.000000  0.000000
Transformers__Age_of_Extinction  0.27986  0.27465  0.237250  0.236640
The_Normal_Heart                 0.00000  0.00000  0.000000  0.000000

                                      4                ...           821  \
vis_data                                0         1    ...             0
filename                                               ...
Seventh_Son                      0.072554  0.079331    ...      2.950400
Welcome_to_Me                    0.311140  0.307880    ...     21.189000
The_Judge                        0.000000  0.000000    ...      0.002466
Transformers__Age_of_Extinction  0.308440  0.303320    ...     14.779000
The_Normal_Heart                 0.038749  0.201350    ...      7.379800

                                                 822                 823  \
vis_data                                 1         0         1         0
filename
Seventh_Son                       3.216700   91672.0   81373.0   22207.0
Welcome_to_Me                    21.182000   81665.0   83171.0   13672.0
The_Judge                         0.002466  729320.0  729320.0  119950.0
Transformers__Age_of_Extinction  14.723000  208630.0  211630.0   23968.0
The_Normal_Heart                 11.306000  145760.0   79962.0   20730.0

                                                824                 825  \
vis_data                                1         0         1         0
filename
Seventh_Son                       21045.0   26201.0   24225.0   14542.0
Welcome_to_Me                     13714.0   32531.0   32774.0   13753.0
The_Judge                        119950.0  230400.0  230400.0  119950.0
Transformers__Age_of_Extinction   24019.0   47979.0   48339.0   24059.0
The_Normal_Heart                  20617.0   35320.0   45216.0   20831.0


vis_data                                1
filename
Seventh_Son                       13529.0
Welcome_to_Me                     13780.0
The_Judge                        119950.0
Transformers__Age_of_Extinction   24090.0
The_Normal_Heart                  20738.0

[5 rows x 1652 columns]

# Define Models

## Description 
These are the models described in the paper. It is not allways clear which exact models they used. (see comments)

In [143]:
from  sklearn.neighbors import KNeighborsClassifier, NearestCentroid #(not sure if this is the nearest mean classifiert) 
from  sklearn.tree import DecisionTreeClassifier
from  sklearn.linear_model import LogisticRegression
from  sklearn.svm import SVC #(not clear which SVC, there is also NuSVC )
from  sklearn.ensemble import BaggingClassifier
from  sklearn.ensemble import AdaBoostClassifier
from  sklearn.ensemble import GradientBoostingClassifier
from  sklearn.ensemble import RandomForestClassifier
from  sklearn.naive_bayes import GaussianNB # there are 3 different naive bayes classifiers, it is not stated which one they used 


model_list = [KNeighborsClassifier(),
                NearestCentroid(),
                DecisionTreeClassifier(random_state = 123),
                LogisticRegression(random_state = 123),
                SVC(random_state = 123),
                BaggingClassifier(random_state = 123),
                AdaBoostClassifier(random_state = 123),
                GradientBoostingClassifier(random_state = 123),
                RandomForestClassifier(random_state = 123),
                GaussianNB() 
                   ]

# Define Performance measures:

As mentioned in the paper the performant measueres are the following Precision and Recall and F1-Score. To be more precise the weighted average of Precision and Recall and F1-Score as stated in the dataset paper.

In [144]:
from sklearn.model_selection import cross_validate

def calculate_metrics(clf,X,y ):
    metric =  cross_validate(clf, X, y, scoring=('precision_weighted','recall_weighted','f1_weighted'), return_train_score=False, cv=10)  
    return pd.Series({'precision':metric['test_precision_weighted'].mean(),'recall':metric['test_recall_weighted'].mean(),'F1':metric['test_f1_weighted'].mean() })

# Select Models

As defined in the paper they use 10-fold CV on the classifiers for training and keep all the classifiers where the metrics are above 0.5 for later stacking.

In [145]:
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import numpy as np

class MultiColumnLabelEncoder:
    
    def __init__(self, columns = None):
        self.columns = columns # list of column to encode

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        
        output = X.copy()
        
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname, col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        
        return output

    def fit_transform(self, X, y=None):
        return self.fit(X, y).transform(X)
    
def getModelName( object ): 

    if hasattr(object, '__module__') and hasattr(object, '__name__'):
        return  object.__name__
    elif hasattr(object, '__module__') and hasattr(object, '__class__'):
        return  object.__class__.__name__
    else:
        raise TypeError("Could not get name of object!")
    
def evaluate_models( X, y ):
    metrics = pd.DataFrame()

    for model in model_list:
        m = calculate_metrics(model,X,y )
        metrics[getModelName(model)] = m

    return metrics.T


df_final_results = pd.DataFrame()

import warnings
warnings.filterwarnings('ignore')

## Meta data

In [151]:
    
df_train = pd.merge(df_labled_movies,df_meta_data, on='filename')
df_train.drop(['movie', 'filename'],axis=1, inplace=True)
display(df_train.head(2))
df_X = df_train.drop('goodforairplane',axis=1)
df_y = df_train['goodforairplane']



display("----  Lable encoded ----")
label_encoder = MultiColumnLabelEncoder(['language','year','genre','country','runtime','rated'])    
X_labelencoded = label_encoder.fit_transform(df_X)
metrics = evaluate_models(X_labelencoded, df_y)
display(metrics)

#convert runtime and year to actual number
df_X['runtime'] = df_X['runtime'].apply(lambda x: int(x.split(' ')[0]) )
df_X['year'] =  df_X['year'].apply(pd.to_numeric)

display("---- Lable encoded with float for year and runtime ----")
##optimizing encoding
label_encoder = MultiColumnLabelEncoder(['language','year','genre','country','rated'])    
X_labelencoded = label_encoder.fit_transform(df_X)
metrics = evaluate_models(X_labelencoded, df_y)
display(metrics)

display("---- Lable encoded without year ----")
label_encoder = MultiColumnLabelEncoder(['language','genre','country','rated'])    
X_labelencoded = label_encoder.fit_transform(df_X)
metrics = evaluate_models(X_labelencoded, df_y)
display(metrics)

# save the best of the for the final table 
metrics['Modality'] = 'metadata'
df_final_results = df_final_results.append(metrics)


display("---- OneHot Encoding ----")
##optimizing encoding further by using the processed meta data

df_train = pd.merge(df_labled_movies,df_meta_data_processed, on='filename')
df_train.drop(['movie', 'filename'],axis=1, inplace=True)
display(df_train.head(2))
df_X = df_train.drop('goodforairplane',axis=1)
df_y = df_train['goodforairplane']

label_encoder = MultiColumnLabelEncoder(['rated'])    
X_labelencoded = label_encoder.fit_transform(df_X)
metrics = evaluate_models(X_labelencoded, df_y)
display(metrics)


# Save final data sets obtained with our best approach
df_y_meta = df_y
X_labelencoded_meta = X_labelencoded

,goodforairplane,language,year,genre,country,runtime,rated
0,1,English,2014,"Action,Adventure,Fantasy","USA, UK, Canada, China",102 min,PG-13
1,0,English,2014,"Comedy,Drama",USA,105 min,R

'----  Lable encoded ----'

                            precision    recall        F1
KNeighborsClassifier         0.519400  0.566162  0.523350
NearestCentroid              0.602922  0.583333  0.576202
DecisionTreeClassifier       0.490991  0.490505  0.467364
LogisticRegression           0.587637  0.585556  0.574014
SVC                          0.297467  0.536869  0.382622
BaggingClassifier            0.512169  0.499596  0.482540
AdaBoostClassifier           0.516002  0.501717  0.490721
GradientBoostingClassifier   0.501382  0.500707  0.486474
RandomForestClassifier       0.509880  0.498485  0.489622
GaussianNB                   0.474880  0.506667  0.481515

'---- Lable encoded with float for year and runtime ----'

                            precision    recall        F1
KNeighborsClassifier         0.657535  0.618586  0.600698
NearestCentroid              0.466408  0.479091  0.465068
DecisionTreeClassifier       0.404628  0.411818  0.401082
LogisticRegression           0.512315  0.524040  0.493776
SVC                          0.300554  0.547980  0.388116
BaggingClassifier            0.524126  0.520909  0.509404
AdaBoostClassifier           0.466827  0.474444  0.462241
GradientBoostingClassifier   0.439652  0.441111  0.425558
RandomForestClassifier       0.503327  0.503737  0.486752
GaussianNB                   0.467194  0.499798  0.474040

'---- Lable encoded without year ----'

                            precision    recall        F1
KNeighborsClassifier         0.632037  0.619697  0.589233
NearestCentroid              0.466408  0.479091  0.465068
DecisionTreeClassifier       0.404628  0.411818  0.401082
LogisticRegression           0.545546  0.549293  0.529509
SVC                          0.300554  0.547980  0.388116
BaggingClassifier            0.524126  0.520909  0.509404
AdaBoostClassifier           0.466827  0.474444  0.462241
GradientBoostingClassifier   0.439652  0.441111  0.425558
RandomForestClassifier       0.503327  0.503737  0.486752
GaussianNB                   0.517396  0.539798  0.499798

'---- OneHot Encoding ----'

,goodforairplane,year,runtime,rated,genre_Action,genre_Adventure,genre_Animation,genre_Biography,genre_Comedy,genre_Crime,...,language_Latin,language_Mandarin,language_Navajo,language_Russian,language_Serbian,language_Spanish,language_Swahili,language_Urdu,language_Vietnamese,language_Yiddish
0,1,2014,102,PG-13,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,2014,105,R,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

                            precision    recall        F1
KNeighborsClassifier         0.550677  0.573333  0.553229
NearestCentroid              0.392575  0.405354  0.387835
DecisionTreeClassifier       0.566508  0.556162  0.546535
LogisticRegression           0.470069  0.495657  0.467943
SVC                          0.404237  0.478687  0.429967
BaggingClassifier            0.477982  0.466263  0.461176
AdaBoostClassifier           0.509123  0.499798  0.485371
GradientBoostingClassifier   0.401100  0.437172  0.410754
RandomForestClassifier       0.464417  0.476465  0.451857
GaussianNB                   0.424487  0.489394  0.413467

## Textual data

In [8]:
from sklearn.preprocessing import Normalizer

################## Use textual data  ###################
display('################## Use textual data  ###################')

df_movies = df_labled_movies.drop(['movie'],axis=1)
df_train = pd.merge(df_movies,df_text_data, on='filename')
df_train.drop(['filename'],axis=1, inplace=True)
display(df_train.head(2))
df_X = df_train.drop('goodforairplane',axis=1)
df_y = df_train['goodforairplane']


display("---- RAW Data ----")
metrics = evaluate_models(df_X, df_y)
display(metrics)

# save  the final table 
metrics['Modality'] = 'textual'
df_final_results = df_final_results.append(metrics)

display("---- Normalize Data ----")
df_normalized_X = Normalizer().fit_transform(df_X)
metrics = evaluate_models(df_normalized_X, df_y)
display(metrics)


# Save final data sets obtained with our best approach
df_y_text = df_y
df_X_text = df_X

'################## Use textual data  ###################'

,goodforairplane,24000,baby,baseball,big,doc,escort,frozen,heroes,high,...,years.1,york,yorks,young,young.1,younger,youngja,zebra,zellweger,zoologists
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

'---- RAW Data ----'

                            precision    recall        F1
KNeighborsClassifier         0.341994  0.465152  0.366055
NearestCentroid              0.452087  0.561111  0.461862
DecisionTreeClassifier       0.455147  0.460000  0.427983
LogisticRegression           0.300554  0.547980  0.388116
SVC                          0.300554  0.547980  0.388116
BaggingClassifier            0.509397  0.567273  0.496721
AdaBoostClassifier           0.575156  0.576162  0.558896
GradientBoostingClassifier   0.639572  0.655051  0.600616
RandomForestClassifier       0.446707  0.540000  0.470888
GaussianNB                   0.537073  0.558182  0.538881

'---- Normalize Data ----'

                            precision    recall        F1
KNeighborsClassifier         0.506534  0.533030  0.512809
NearestCentroid              0.555174  0.555253  0.531696
DecisionTreeClassifier       0.522597  0.536869  0.511263
LogisticRegression           0.300554  0.547980  0.388116
SVC                          0.300554  0.547980  0.388116
BaggingClassifier            0.529374  0.567980  0.523605
AdaBoostClassifier           0.494176  0.530606  0.502345
GradientBoostingClassifier   0.654070  0.629697  0.581930
RandomForestClassifier       0.488127  0.528889  0.491408
GaussianNB                   0.537073  0.558182  0.538881

## Visual data

In [9]:
from sklearn.preprocessing import StandardScaler,RobustScaler

################## Use visual data  ###################
display('################## Use visual data  ###################')

df_movies = df_labled_movies.drop(['movie'],axis=1)
df_train = pd.merge(df_movies,df_visual_data_processed, on='filename')
df_train.drop(['filename'],axis=1, inplace=True)
display(df_train.head(5))
df_X = df_train.drop('goodforairplane',axis=1)
df_y = df_train['goodforairplane']


display("---- RAW Data ----")
metrics = evaluate_models(df_X, df_y)
display(metrics)

display("---- Scaled Data ----")
df_scaled_X = StandardScaler().fit_transform(df_X)
metrics = evaluate_models(df_scaled_X, df_y)
display(metrics)

# save  the final table 
metrics['Modality'] = 'visual'
df_final_results = df_final_results.append(metrics)

display("---- RobustScaler Data ----")
df_scaled_X = RobustScaler().fit_transform(df_X)
metrics = evaluate_models(df_scaled_X, df_y)
display(metrics)


# Save final data sets obtained with our best approach
df_y_visual = df_y
df_scaled_X_visual = pd.DataFrame(df_scaled_X)

'################## Use visual data  ###################'

,goodforairplane,"(0, 0)","(0, 1)","(1, 0)","(1, 1)","(2, 0)","(2, 1)","(3, 0)","(3, 1)","(4, 0)",...,"(821, 0)","(821, 1)","(822, 0)","(822, 1)","(823, 0)","(823, 1)","(824, 0)","(824, 1)","(825, 0)","(825, 1)"
0,1,0.047044,0.056526,0.11619,0.12516,0.13633,0.14628,0.066194,0.082497,0.072554,...,2.950400,3.216700,91672.0,81373.0,22207.0,21045.0,26201.0,24225.0,14542.0,13529.0
1,0,0.307170,0.304660,0.33422,0.33193,0.33112,0.33124,0.331240,0.331380,0.311140,...,21.189000,21.182000,81665.0,83171.0,13672.0,13714.0,32531.0,32774.0,13753.0,13780.0
2,0,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000,0.000000,0.000000,...,0.002466,0.002466,729320.0,729320.0,119950.0,119950.0,230400.0,230400.0,119950.0,119950.0
3,0,0.199960,0.189130,0.26934,0.25738,0.27986,0.27465,0.237250,0.236640,0.308440,...,14.779000,14.723000,208630.0,211630.0,23968.0,24019.0,47979.0,48339.0,24059.0,24090.0
4,1,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000,0.000000,0.038749,...,7.379800,11.306000,145760.0,79962.0,20730.0,20617.0,35320.0,45216.0,20831.0,20738.0

'---- RAW Data ----'

                            precision    recall        F1
KNeighborsClassifier         0.546787  0.542929  0.529648
NearestCentroid              0.405332  0.473333  0.405324
DecisionTreeClassifier       0.491792  0.508182  0.488059
LogisticRegression           0.561063  0.573939  0.555761
SVC                          0.398547  0.557980  0.422500
BaggingClassifier            0.616987  0.606162  0.604084
AdaBoostClassifier           0.505459  0.509293  0.496069
GradientBoostingClassifier   0.521968  0.534646  0.517804
RandomForestClassifier       0.476204  0.485152  0.467797
GaussianNB                   0.503584  0.518586  0.484453

'---- Scaled Data ----'

                            precision    recall        F1
KNeighborsClassifier         0.570299  0.560000  0.538146
NearestCentroid              0.515741  0.505354  0.487731
DecisionTreeClassifier       0.484093  0.509293  0.484570
LogisticRegression           0.580084  0.549798  0.538425
SVC                          0.453070  0.538889  0.448757
BaggingClassifier            0.584129  0.583939  0.575801
AdaBoostClassifier           0.507985  0.504242  0.489265
GradientBoostingClassifier   0.505687  0.521515  0.505821
RandomForestClassifier       0.453981  0.462929  0.445575
GaussianNB                   0.607893  0.587273  0.573590

'---- RobustScaler Data ----'

                            precision    recall        F1
KNeighborsClassifier         0.558343  0.560000  0.544837
NearestCentroid              0.576882  0.539596  0.508983
DecisionTreeClassifier       0.484093  0.509293  0.484570
LogisticRegression           0.513166  0.509394  0.501544
SVC                          0.425366  0.467172  0.420111
BaggingClassifier            0.601801  0.606162  0.591861
AdaBoostClassifier           0.497985  0.493131  0.478154
GradientBoostingClassifier   0.537062  0.532626  0.524928
RandomForestClassifier       0.453981  0.462929  0.445575
GaussianNB                   0.532297  0.525354  0.522063

## Audio data

In [10]:
from sklearn.preprocessing import StandardScaler,RobustScaler

################## Use audio data  ###################

display('################## Use audio data  ###################')

def load_audio_data( filenames ): # changed
    data_list = []
    
    audio_data = pd.DataFrame()
    for file in filenames: 
        file_path = f'./data/CoE_dataset/Dev_set/audio_descriptors/{file}.csv'
        df_data = pd.read_csv(file_path,index_col=None, header=None).T
        
        # preprocess data
        df_data = df_data.fillna(0)
        df_data = pd.DataFrame(df_data.mean(axis = 0)).T
        df_data["filename"] = file
        audio_data = audio_data.append(df_data)
    audio_data = audio_data.set_index("filename") 
    return audio_data

df_audio_data = load_audio_data( df_labled_movies['filename']  )


df_train_audio = pd.merge(df_movies, df_audio_data, on='filename')
df_train_audio.drop(['filename'],axis=1, inplace=True)
df_X = df_train_audio.drop('goodforairplane',axis=1)
df_y = df_train_audio['goodforairplane']


# df_movies = df_labled_movies.drop(['movie'],axis=1)
# df_train = pd.merge(df_movies,pd.DataFrame(df_audio_data_processed), on='filename')
# df_train.drop(['filename'],axis=1, inplace=True)
# display(df_train.head(5))
# df_X = df_train.drop('goodforairplane',axis=1)
# df_y = df_train['goodforairplane']




display("---- RAW Data ----")
metrics = evaluate_models(df_X, df_y)
display(metrics)

# save  the final table 
metrics['Modality'] = 'audio'
df_final_results = df_final_results.append(metrics)

display("---- Scaled Data ----")
df_scaled_X = StandardScaler().fit_transform(df_X)
metrics = evaluate_models(df_scaled_X, df_y)
display(metrics)

display("---- RobustScaler Data ----")
df_scaled_X = RobustScaler().fit_transform(df_X)
metrics = evaluate_models(df_scaled_X, df_y)
display(metrics)


# Save final data sets obtained with our best approach
df_y_audio = df_y
df_X_audio = df_X

'################## Use audio data  ###################'

'---- RAW Data ----'

                            precision    recall        F1
KNeighborsClassifier         0.442217  0.464444  0.446119
NearestCentroid              0.605951  0.547071  0.491725
DecisionTreeClassifier       0.474011  0.457273  0.430179
LogisticRegression           0.558033  0.545960  0.539093
SVC                          0.341683  0.424949  0.368661
BaggingClassifier            0.427441  0.435859  0.419515
AdaBoostClassifier           0.524470  0.512020  0.491446
GradientBoostingClassifier   0.515392  0.516970  0.506224
RandomForestClassifier       0.469181  0.474444  0.459993
GaussianNB                   0.550048  0.515758  0.498764

'---- Scaled Data ----'

                            precision    recall        F1
KNeighborsClassifier         0.453864  0.450101  0.432996
NearestCentroid              0.555387  0.542828  0.528025
DecisionTreeClassifier       0.474011  0.457273  0.430179
LogisticRegression           0.531818  0.522626  0.514002
SVC                          0.416675  0.463131  0.420189
BaggingClassifier            0.427441  0.435859  0.419515
AdaBoostClassifier           0.524470  0.512020  0.491446
GradientBoostingClassifier   0.515392  0.516970  0.506224
RandomForestClassifier       0.469181  0.474444  0.459993
GaussianNB                   0.550048  0.515758  0.498764

'---- RobustScaler Data ----'

                            precision    recall        F1
KNeighborsClassifier         0.400179  0.422727  0.405317
NearestCentroid              0.647124  0.547071  0.501967
DecisionTreeClassifier       0.474011  0.457273  0.430179
LogisticRegression           0.518855  0.511515  0.501448
SVC                          0.481070  0.488485  0.470724
BaggingClassifier            0.427441  0.435859  0.419515
AdaBoostClassifier           0.524470  0.512020  0.491446
GradientBoostingClassifier   0.515392  0.516970  0.506224
RandomForestClassifier       0.469181  0.474444  0.459993
GaussianNB                   0.550048  0.515758  0.498764

## Final base classifier filter

In [11]:
df_r = df_final_results
df_r = df_r[ (df_r['precision'] > 0.5) & (df_r['recall'] > 0.5) & (df_r['F1'] > 0.5) ]
display(df_r)

                            precision    recall        F1  Modality
KNeighborsClassifier         0.632037  0.619697  0.589233  metadata
LogisticRegression           0.545546  0.549293  0.529509  metadata
BaggingClassifier            0.524126  0.520909  0.509404  metadata
AdaBoostClassifier           0.575156  0.576162  0.558896   textual
GradientBoostingClassifier   0.639572  0.655051  0.600616   textual
GaussianNB                   0.537073  0.558182  0.538881   textual
KNeighborsClassifier         0.570299  0.560000  0.538146    visual
LogisticRegression           0.580084  0.549798  0.538425    visual
BaggingClassifier            0.584129  0.583939  0.575801    visual
GradientBoostingClassifier   0.505687  0.521515  0.505821    visual
GaussianNB                   0.607893  0.587273  0.573590    visual
LogisticRegression           0.558033  0.545960  0.539093     audio
GradientBoostingClassifier   0.515392  0.516970  0.506224     audio

As we can see the results table looks pretty different than in the paper. There is not really enough information in the paper to be sure that we are correctly reproducing the steps. 

With the audio data there is actually not really more we could do since we just end up with one coliumn of data as descirbed in the paper, but still the metrics is not as good as in the paper. 

__Is there something wrong already when we load the data ? Wrong data?__

## Loading of test data
There are problems with test data in the label file and actual XML files, some of them do not match. Sometimes the file ending is given (e.g. .xml, we removed it), sometimes the row is given as a string. We detected such movies with the code below, and afterwards fixed the detected movies by hand.

Additonally, the movie 10.000km is given twice with label 0 and 1 (we just assume one of them and deleted the other one)!

In [12]:
import os


df_movies_all = pd.read_csv("./data/CoE_dataset/Test_set/test_set_labels.csv", sep=';')
print(df_movies_all.shape[0])

# To avoid null values, we just removed " by hand...
display(df_movies_all[df_movies_all["file_name"].isnull()])

ex = 0
filenames = []
for file in df_movies_all['file_name']:
    # fix already given file type - fixed by hand now
    if ".mp4" in file:
        file = file.split(".mp4")[0]
    if ".xml" in file:
        file = file.split(".xml")[0]
    
    # check if file is given twice
    if file in filenames:
        # already dropped by hand
        print("file already in! " + file)
    else:    
        file_path = f'./data/CoE_dataset/Test_set/XML/{file}.xml'
        exists = os.path.isfile(file_path)
        if exists:
            ex = ex + 1
            filenames.append(file)
        else:
            print(file)
            print(str(file_path) + " not exists!")
            df_movies_all = df_movies_all[df_movies_all['file_name'] != file]

print("Existing movies: " + str(ex))
print(df_movies_all.shape[0])

224

Empty DataFrame
Columns: [movie_name, file_name, goodforairplanes]
Index: []

A_Fish_Called_Wanda
./data/CoE_dataset/Test_set/XML/A_Fish_Called_Wanda.xml not exists!
Existing movies: 223
223

In [13]:
df_labled_movies_test = df_movies_all
df_labled_movies_test = df_labled_movies_test[['movie_name','file_name', 'goodforairplanes']]
df_labled_movies_test.columns = ['movie', 'filename', 'goodforairplane']
display(df_labled_movies_test.head(3))


############################################################
### Load Meta Data ###

def load_meta_data_test( filenames ): 
    
    raw_data = []
    
    for file in filenames: 
        file_path = f'./data/CoE_dataset/Test_set/XML/{file}.xml'
        exists = os.path.isfile(file_path)
        if not exists:
            print(file + " not exists!")
        else:
            with open(file_path) as f: 
                tree = ET.parse(f)
                movie = tree.find('movie')

                lang = movie.get('language')
                year = movie.get('year')
                genre = movie.get('genre')
                country = movie.get('country')
                runtime = movie.get('runtime')
                age_rating = movie.get('rated')

                raw_data.append( (file,lang,year,genre,country,runtime,age_rating) )
    
    return pd.DataFrame(raw_data, columns=['filename','language','year','genre','country','runtime','rated'])


df_meta_data_test = load_meta_data_test( df_labled_movies_test['filename']  )
display(df_meta_data_test.head(3))


############################################################
### Load Visual Data ###

def load_visual_data_test( filenames ):
    data_list = []
    
    for file in filenames: 
        file_path = f'./data/CoE_dataset/Test_set/vis_descriptors/{file}.csv'
        exists = os.path.isfile(file_path)
        if not exists:
            print(file + " not exists!")
        else:
            df_data = pd.read_csv(file_path,index_col=None, header=None)
            data_list.append(df_data)
        
    return pd.concat(data_list, axis = 0, keys = filenames,names=('filename','vis_data'),  sort=False)

df_visual_data_test = load_visual_data_test( df_labled_movies_test['filename']  )
df_visual_data_test = df_visual_data_test.unstack()
display(df_visual_data_test.head(3))


############################################################
### Load Audio Data ###

def load_audio_data_test( filenames ):
    data_list = []
    
    audio_data = pd.DataFrame()
    for file in filenames: 
        file_path = f'./data/CoE_dataset/Test_set/audio_descriptors/{file}.csv'
        
        exists = os.path.isfile(file_path)
        if not exists:
            print(file + " not exists!")
        else:
            df_data = pd.read_csv(file_path,index_col=None, header=None).T

            # preprocess data
            df_data = df_data.fillna(0)
            df_data = pd.DataFrame(df_data.mean(axis = 0)).T
            df_data["filename"] = file
            audio_data = audio_data.append(df_data)
            
    audio_data = audio_data.set_index("filename") 
    return audio_data

df_audio_data_test = load_audio_data_test( df_labled_movies_test['filename']  )
display(df_audio_data_test.head(3))


############################################################
### Load textual Data ###

def load_text_data_test(filenames):
    

    data_list = []
    file_path = f'./data/CoE_dataset/Test_set/text_descriptors/tdf_idf_test.csv'
    #somehow pandas can not really handle that the first line is row names.(at least I didn't find a better way) 
    # thus we do it a little complicated here
    header_index = pd.read_csv(file_path, index_col=0,nrows=1 ).reset_index().columns
    df_data = pd.read_csv(file_path, header=None, index_col=False,skiprows=1)
    df_data.set_index(header_index, inplace=True)
    df_data.columns = filenames
    return df_data.T #row are should be represented by movie names

df_text_data_test = load_text_data_test(df_labled_movies_test['filename'] )
display(df_text_data_test.head(3))

                       movie                   filename  goodforairplane
0  Humpty Sharma Ki Dulhania  Humpty_Sharma_Ki_Dulhania                1
1                   Homeland                   Homeland                1
2                      Trash                      Trash                1

,filename,language,year,genre,country,runtime,rated
0,Humpty_Sharma_Ki_Dulhania,Hindi,2014,"Comedy, Drama, Romance",India,133 min,NOT RATED
1,Homeland,English,2011,"Drama, Mystery, Thriller",USA,55 min,TV-MA
2,Trash,"Portuguese, English",2014,"Adventure, Comedy, Crime","UK, Brazil",114 min,R

                               0                 1                 2    \
vis_data                         0        1        0        1        0
filename
Humpty_Sharma_Ki_Dulhania  0.25284  0.25278  0.23444  0.23450  0.25556
Homeland                   0.13660  0.12622  0.29110  0.29358  0.38919
Trash                      0.23858  0.25246  0.24924  0.25729  0.34233

                                        3                 4             \
vis_data                         1        0        1        0        1
filename
Humpty_Sharma_Ki_Dulhania  0.25565  0.23095  0.23102  0.26720  0.26718
Homeland                   0.38603  0.25374  0.24926  0.18142  0.20572
Trash                      0.34281  0.32537  0.32128  0.28438  0.28786

                            ...         821               822           \
vis_data                    ...           0        1        0        1
filename                    ...
Humpty_Sharma_Ki_Dulhania   ...     13.6060  13.6060  38450.0  38440.0
Homeland                    ...      8.6886   8.6112  13428.0  14415.0
Trash                       ...     11.4420  11.6270  37948.0  36342.0

                               823               824               825  \
vis_data                         0        1        0        1        0
filename
Humpty_Sharma_Ki_Dulhania  11844.0  11847.0  23975.0  23988.0  13069.0
Homeland                    2086.1   2519.3   5285.1   6909.0   2510.7
Trash                      11777.0  11420.0  24904.0  23160.0  12274.0


vis_data                         1
filename
Humpty_Sharma_Ki_Dulhania  13071.0
Homeland                    2963.8
Trash                      11730.0

[3 rows x 1652 columns]

,0,1,2,3,4,5,6,7,8,9,10,11,12
filename,,,,,,,,,,,,,
Humpty_Sharma_Ki_Dulhania,4.547587,-5.636230,1.434987,-0.279716,-0.669368,-1.271336,-0.705938,-0.263066,-0.273322,-0.794631,-0.060173,0.003418,-0.272562
Homeland,62.653646,-2.540778,0.943440,-1.226452,-0.285784,-0.821387,-0.986073,-1.069481,-1.126877,-0.613598,0.168740,-0.776176,0.389720
Trash,59.511905,-4.309526,-0.728330,-2.602980,0.150200,-0.210795,-0.315625,0.037404,-0.298176,0.943956,0.579414,0.388942,-0.008194

,1,1000,200000,acquired,ailing,avatar,avoid,babysitter,barbaric,battle,...,zero,zeus,zeus.1,zeus.2,zhonglian,zhuo,zombie,zombiehating,zombies,zuckerberg
filename,,,,,,,,,,,,,,,,,,,,,
Humpty_Sharma_Ki_Dulhania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Homeland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Trash,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Preparation of test data
The process here is similar to the training data.

In [14]:
df_movies_test = df_labled_movies_test.drop(['movie'], axis = 1)


#####################################################
# Textual data
df_test_text = pd.merge(df_movies_test, df_text_data_test, on='filename')
df_test_text.drop(['filename'],axis=1, inplace=True)

df_X_text_test = df_test_text.drop('goodforairplane',axis=1)
df_y_text_test = df_test_text['goodforairplane']

print("text:" + str(df_X_text_test.shape[0]))
display(df_X_text_test.head(2))


#####################################################
# Visual data
df_test_visual = pd.merge(df_movies_test, df_visual_data_test, on='filename')
df_test_visual.drop(['filename'],axis=1, inplace=True)

df_X_visual_test = df_test_visual.drop('goodforairplane',axis=1)
df_y_visual_test = df_test_visual['goodforairplane']
df_scaled_X_visual_test = pd.DataFrame(StandardScaler().fit_transform(df_X_visual_test))

print("visual:"  + str(df_X_visual_test.shape[0]))
display(df_X_visual_test.head(2))


#####################################################
# Audio data
df_test_audio = pd.merge(df_movies_test, df_audio_data_test, on='filename')
df_test_audio.drop(['filename'],axis=1, inplace=True)
df_X_audio_test = df_test_audio.drop('goodforairplane',axis=1)
df_y_audio_test = df_test_audio['goodforairplane']

print("audio:" + str(df_X_audio_test.shape[0]))
display(df_X_audio_test.head(2))


#####################################################
# Meta data
df_test_meta = pd.merge(df_movies_test,df_meta_data_test, on='filename')
df_test_meta.drop(['filename'],axis=1, inplace=True)

df_X_meta_test = df_test_meta.drop('goodforairplane',axis=1)
# Work around for runtime
df_X_meta_test['runtime'] = df_X_meta_test['runtime'].apply(lambda x: int(x.split(' ')[0]) if x != 'N/A' else 0)
df_X_meta_test['year'] =  df_X_meta_test['year'].apply(pd.to_numeric)

df_y_meta_test = df_test_meta['goodforairplane']

label_encoder = MultiColumnLabelEncoder(['language','genre','country','rated'])    
X_labelencoded_meta_test = pd.DataFrame(label_encoder.fit_transform(df_X_meta_test))

print("meta:"+ str(df_X_meta_test.shape[0]) )
display(X_labelencoded_meta_test.head(2))

text:223

,1,1000,200000,acquired,ailing,avatar,avoid,babysitter,barbaric,battle,...,zero,zeus,zeus.1,zeus.2,zhonglian,zhuo,zombie,zombiehating,zombies,zuckerberg
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

visual:223

,"(0, 0)","(0, 1)","(1, 0)","(1, 1)","(2, 0)","(2, 1)","(3, 0)","(3, 1)","(4, 0)","(4, 1)",...,"(821, 0)","(821, 1)","(822, 0)","(822, 1)","(823, 0)","(823, 1)","(824, 0)","(824, 1)","(825, 0)","(825, 1)"
0,0.25284,0.25278,0.23444,0.23450,0.25556,0.25565,0.23095,0.23102,0.26720,0.26718,...,13.6060,13.6060,38450.0,38440.0,11844.0,11847.0,23975.0,23988.0,13069.0,13071.0
1,0.13660,0.12622,0.29110,0.29358,0.38919,0.38603,0.25374,0.24926,0.18142,0.20572,...,8.6886,8.6112,13428.0,14415.0,2086.1,2519.3,5285.1,6909.0,2510.7,2963.8

audio:223

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,4.547587,-5.636230,1.434987,-0.279716,-0.669368,-1.271336,-0.705938,-0.263066,-0.273322,-0.794631,-0.060173,0.003418,-0.272562
1,62.653646,-2.540778,0.943440,-1.226452,-0.285784,-0.821387,-0.986073,-1.069481,-1.126877,-0.613598,0.168740,-0.776176,0.389720

meta:223

   language  year  genre  country  runtime  rated
0        56  2014     59       21      133      3
1         5  2011     83       45       55      7

## Further preparation for textual data
In the text data files, there are different words that appear in one movie and not in an other one.

Therefore, we add columns with 0 values for words that are not in the movies.

In [15]:
print("Training")
print(df_X_text.shape)
print(X_labelencoded_meta.shape)
print(df_X_audio.shape)
print(df_scaled_X_visual.shape)

print("Test")
print(df_X_text_test.shape)
print(X_labelencoded_meta_test.shape)
print(df_X_audio_test.shape)
print(df_scaled_X_visual_test.shape)


# check why test data is not consistent with train data for textual, so we 
# do not compare different words
for col in df_X_text_test.columns:
    if col not in df_X_text.columns:
        df_X_text[col] = pd.Series([0] * df_X_text.shape[0])

for col in df_X_text.columns:
    if col not in df_X_text_test.columns:
        df_X_text_test[col] = pd.Series([0] * df_X_text_test.shape[0])



# We have to order the columns, otherwise the features selected will not be at the same place
df_X_text_test = df_X_text_test.reindex(sorted(df_X_text_test.columns), axis=1)
display(df_X_text_test.head(3))

df_X_text = df_X_text.reindex(sorted(df_X_text.columns), axis=1)
display(df_X_text.head(3))

Training
(95, 3283)
(95, 6)
(95, 13)
(95, 1652)
Test
(223, 6317)
(223, 6)
(223, 13)
(223, 1652)

,00,1,10,100,1000,1000.1,100000,10000km,101yearold,10round,...,zeus.1,zeus.2,zhonglian,zhuo,zing,zombie,zombiehating,zombies,zoologists,zuckerberg
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0

,00,1,10,100,1000,1000.1,100000,10000km,101yearold,10round,...,zeus.1,zeus.2,zhonglian,zhuo,zing,zombie,zombiehating,zombies,zoologists,zuckerberg
0,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0,0,0,0.0,0
1,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0,0,0,0.0,0
2,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0,0,0,0.0,0

# Task 3.2 Feature Selection

They use LVW for feature selection as described in the mentioned paper.
What is very confusion in this section is that in the end again they refer to Table 2. as also in the previous section. 
I would conclude that in the previous section they just wanted to refer to the selected classifiers and in this section to the metrics results. 
But still we would have different classifiers. 

The implementation of the LVW shouldn't be to compilcated. Maybe there is already some code out there.

### Implementation of LVW

Here I implemented the LVW from the pseudo code of the refered paper (since I have not found any code on it), with adapting that we use a greater F1 score, instead of a lower error.

It was not clearly stated how they actually "slightly modified" the LVW...

In [16]:
def randomSet(size):
    '''
    Returns a subset of available features
    '''  
    number_of_features = random.randint(1, size-1)
    features = np.empty(number_of_features, dtype = int)
    
    i = 0
    while i < number_of_features:
        rand = random.randint(0, size-1)
        if rand not in features:
            features[i] = rand
            i = i + 1
            
    return features  


def LearnAlgo(S1, D_X, D_Y, model):
    '''
    Calculates and returns metrics on given data frame with feature
    subset S1
    '''
    D_X = D_X[D_X.columns[S1]]
    metrics = calculate_metrics(model, D_X, D_Y)
    return metrics
    

def LVW(K, D_X, D_Y, model, output = True):
    '''
    Implementation of the Las Vegas Wrapper, according to the paper
    "Feature Selection and Classification - A probabilistic approach",
    modifed to maximizing F1 instead of minimizing error.
    '''
    k = 0
    C = 100
    metrics = {"precision": 0,
               "recall": 0,
               "F1": 0}
    
    size = D_X.columns.size
    if size == 1: # fix for dataframes with size 1
        return calculate_metrics(model, D_X, D_Y), [0]
    
    while k < K:
        S1 = randomSet(size)
        C1 = S1.size
        metrics_1 = LearnAlgo(S1, D_X, D_Y, model)
        
        if (metrics_1["F1"] > metrics["F1"] or 
            (metrics_1["F1"] == metrics["F1"] and C1 < C)):
            if output:
                print("Current best F1 = " + str(metrics_1["F1"]) + ", size = " + str(C1))
            k = 0
            metrics = metrics_1
            C = C1
            S = S1
        
        k = k + 1

    return metrics, S

### Trys for different data modalities

In [17]:
# Audio
LVW(5, df_X_audio, df_y_audio, KNeighborsClassifier())

Current best F1 = 0.48365319865319856, size = 10
Current best F1 = 0.5493338143338142, size = 10
Current best F1 = 0.5792507492507493, size = 8

(precision    0.629156
 recall       0.598485
 F1           0.579251
 dtype: float64, array([ 4,  2,  7,  3,  9,  8, 10, 11]))

In [18]:
# Textual
LVW(5, df_X_text, df_y_text, KNeighborsClassifier())

Current best F1 = 0.40894673953497485, size = 4658
Current best F1 = 0.4538233988233989, size = 4957
Current best F1 = 0.5226157176157176, size = 6852

(precision    0.509481
 recall       0.586263
 F1           0.522616
 dtype: float64, array([ 318, 5246, 3706, ...,  285,  263,   10]))

In [19]:
# Visual
LVW(5, df_scaled_X_visual, df_y_visual, KNeighborsClassifier())

Current best F1 = 0.5756238206238207, size = 457
Current best F1 = 0.5846930846930846, size = 1212

(precision    0.598772
 recall       0.599293
 F1           0.584693
 dtype: float64, array([1468,  298, 1215, ...,  704, 1317, 1241]))

In [36]:
# Meta
LVW(5, X_labelencoded_meta, df_y_meta, KNeighborsClassifier())

Current best F1 = 0.474940244940245, size = 1
Current best F1 = 0.5093462093462093, size = 1
Current best F1 = 0.564422151922152, size = 5

(precision    0.616487
 recall       0.587475
 F1           0.564422
 dtype: float64, array([2, 1, 4, 5, 3]))

### Application of LVW on selected combinations

No information about seed and so on, just that in each run there are different subsets and therefore different results (we set a seed here for enabling reproduction). I stored the features we use (from our combinations and from them of the paper) into files so we dont have to execute this code every time.

In [21]:

def str2Class(str):
    if str == "KNeighborsClassifier" or str == "NearestCentroid" or str == "GaussianNB":
        return getattr(sys.modules[__name__], str)()
    return getattr(sys.modules[__name__], str)(random_state = 123)



def run_LVW_Selected_Combinations(K):
    
    df_final_results_lvw = pd.DataFrame()
    df_x = pd.DataFrame()
    df_y = pd.DataFrame()

    random.seed(123)
    
    for index, row in df_r.iterrows():
        model = str2Class(index)
        print(getModelName(model) + " - " + row["Modality"])

        # get correct data frame
        if row["Modality"] == "metadata":
            df_x = X_labelencoded_meta
            df_y = df_y_meta
        elif row["Modality"] == "visual":
            df_x = df_scaled_X_visual
            df_y = df_y_visual

        elif row["Modality"] == "textual":
            df_x = df_X_text
            df_y = df_y_text
        else:
            df_x = df_X_audio
            df_y = df_y_audio

        # Calculate and append LVW metrics
        metrics = pd.DataFrame()
        S = []
        if getModelName(model) == "RandomForestClassifier":
            print("skipping random forest..")
            # evaluate random forest withot LVW since it already performs feature selection
            random.seed(123)
            m = calculate_metrics(model, df_x, df_y)
        else:
            # feature selection metrics
            random.seed(123)
            m, S = LVW(K, df_x, df_y, model, False)
        print(m)
        features = ','.join(map(str, S))
        print(features)
        metrics[getModelName(model)] = m
        metrics = metrics.T
        metrics["Modality"] = row["Modality"]
        metrics["Features"] = features

        df_final_results_lvw = df_final_results_lvw.append(metrics)
    
    # Results with feature selection
    #display(df_final_results_lvw)#[df_final_results_lvw.columns.difference(["Features"])])

    # save final data frame (TODO: uncomment when rerunning LVW)
    df_final_results_lvw.to_csv('./data/results.csv', sep=';', encoding='utf-8')

### Final results
Some of the results got better, some got worse since we only use a feature subspace where the fact if the full data is tried out is just random.

In [22]:
# TODO: Uncomment if you want to rerun LVW!!!
# max number of runs for finding better LVW combinations -> better results, longer runtime with higher K   
#run_LVW_Selected_Combinations(100)

In [23]:
# Previous results
display(df_r)

# Access saved data from function run_LVW_Selected_Combinations()
test_read = pd.read_csv('./data/results.csv', sep=';', encoding='utf-8', header = 0, index_col = 0)
test_read

                            precision    recall        F1  Modality
KNeighborsClassifier         0.632037  0.619697  0.589233  metadata
LogisticRegression           0.545546  0.549293  0.529509  metadata
BaggingClassifier            0.524126  0.520909  0.509404  metadata
AdaBoostClassifier           0.575156  0.576162  0.558896   textual
GradientBoostingClassifier   0.639572  0.655051  0.600616   textual
GaussianNB                   0.537073  0.558182  0.538881   textual
KNeighborsClassifier         0.570299  0.560000  0.538146    visual
LogisticRegression           0.580084  0.549798  0.538425    visual
BaggingClassifier            0.584129  0.583939  0.575801    visual
GradientBoostingClassifier   0.505687  0.521515  0.505821    visual
GaussianNB                   0.607893  0.587273  0.573590    visual
LogisticRegression           0.558033  0.545960  0.539093     audio
GradientBoostingClassifier   0.515392  0.516970  0.506224     audio

,precision,recall,F1,Modality,Features
KNeighborsClassifier,0.612211,0.596667,0.569224,metadata,"0,3"
LogisticRegression,0.580071,0.605758,0.562425,metadata,"0,3"
BaggingClassifier,0.618274,0.614646,0.567548,metadata,3
AdaBoostClassifier,0.664580,0.639697,0.621954,textual,"810,1139,2666,2865,1327,1972,2464,2728,1996,16..."
GradientBoostingClassifier,0.667745,0.684343,0.650515,textual,"3088,1323,2941,320,1994,3147,1075,2356,2004,17..."
GaussianNB,0.646028,0.640707,0.637650,textual,"1053,538,358,2194,2018,2292,1612,1481,2060,501..."
KNeighborsClassifier,0.680255,0.644646,0.630992,visual,"886,606,174,441,697,897,193,1566,713,1496,1010..."
LogisticRegression,0.676223,0.650707,0.637595,visual,"992,843,1246,1235,83,309,1110,708,620,1535,143..."
BaggingClassifier,0.671854,0.649495,0.643444,visual,"911,1434,1185,1455,1271,1069,229,306,105,756,3..."
GradientBoostingClassifier,0.681809,0.655758,0.637713,visual,"1477,183,687,25,1345,246,1255,203,1458,21,1320..."
GaussianNB,0.629519,0.614242,0.608752,visual,"1411,1475,881,753,1442,1458,884,728,1612,1060,..."
LogisticRegression,0.603013,0.603434,0.593673,audio,"9,5"
GradientBoostingClassifier,0.663218,0.655960,0.650645,audio,"2,10,0"

### LVW Feature selection on the classifiers of the paper
Since we have other classifiers as an output, I decided to also use the combinations stated in the paper, that should be also nice to compare them.

In [24]:

def run_LVW_Paper_Combinations(K):
    
    paper_combinations_modality = ['metadata', 'metadata', 'metadata','metadata', 'metadata',
                                   'metadata', 'metadata', 'metadata', 'metadata', 'textual',
                                   'textual', 'textual', 'visual', 'visual', 'visual', 'visual', 
                                   'visual', 'visual', 'visual', 'audio', 'audio']
    paper_combinations_classifier = ['KNeighborsClassifier', 'NearestCentroid', 'DecisionTreeClassifier','LogisticRegression', 
                                     'SVC', 'BaggingClassifier', 'RandomForestClassifier', 'AdaBoostClassifier', 
                                     'GradientBoostingClassifier', 'GaussianNB', 'KNeighborsClassifier', 'SVC', 
                                     'KNeighborsClassifier', 'DecisionTreeClassifier', 'LogisticRegression', 'SVC', 
                                     'RandomForestClassifier', 'AdaBoostClassifier', 'GradientBoostingClassifier', 
                                     'LogisticRegression', 'GradientBoostingClassifier']

    paper_combination_score = pd.DataFrame()
    paper_combination_score["Modality"] = pd.Series(paper_combinations_modality)
    paper_combination_score["Classifier"] = paper_combinations_classifier
    paper_combination_score["Features"] = pd.Series()
    paper_combination_score.set_index(["Classifier"], inplace = True)

    df_final_results_paper = pd.DataFrame()
    df_x = pd.DataFrame()
    df_y = pd.DataFrame()


    random.seed(123)

    for index, row in paper_combination_score.iterrows():
        model = str2Class(index)
        print(getModelName(model) + " - " + row["Modality"])

        # get correct data frame
        if row["Modality"] == "metadata":
            df_x = X_labelencoded_meta
            df_y = df_y_meta
        elif row["Modality"] == "visual":
            df_x = df_scaled_X_visual
            df_y = df_y_visual

        elif row["Modality"] == "textual":
            df_x = df_X_text
            df_y = df_y_text
        else:
            df_x = df_X_audio
            df_y = df_y_audio

        # Calculate and append LVW metrics
        metrics = pd.DataFrame()
        S = []
        if getModelName(model) == "RandomForestClassifier":
            print("skipping random forest..")
            # evaluate random forest withot LVW since it already performs feature selection
            random.seed(123)
            m = calculate_metrics(model, df_x, df_y)
        else:
            # feature selection metrics
            random.seed(123)
            m, S = LVW(K, df_x, df_y, model, False)
        print(m)
        features = ','.join(map(str, S))
        print(features)
        metrics[getModelName(model)] = m
        metrics = metrics.T
        metrics["Modality"] = row["Modality"]
        metrics["Features"] = features

        df_final_results_paper = df_final_results_paper.append(metrics) 

    F1_paper = [0.630, 0.591, 0.563, 0.578, 0.574, 0.631, 0.576, 0.536, 0.569, 0.702, 0.666, 0.707,
                0.608, 0.535, 0.608, 0.580, 0.638, 0.654, 0.587, 0.546, 0.587]

    df_final_results_paper["F1 Paper"] = F1_paper
    df_final_results_paper["Difference"] =  df_final_results_paper["F1 Paper"] - df_final_results_paper["F1"]
    #display(df_final_results_paper)

    # save final data frame 
    df_final_results_paper.to_csv('./data/results_paper.csv', sep=';', encoding='utf-8')

In [25]:
# TODO: Uncomment if you want to rerun LVW!!!
# max number of runs for finding better LVW combinations -> better results, longer runtime with higher K   
# run_LVW_Paper_Combinations(100)

In [26]:
# Accessing saved data (saves time since recompiling takes long)
test_read_paper = pd.read_csv('./data/results_paper.csv', sep=';', encoding='utf-8', header = 0, index_col = 0)
test_read_paper

,precision,recall,F1,Modality,Features,F1 Paper,Difference
KNeighborsClassifier,0.612211,0.596667,0.569224,metadata,"0,3",0.630,0.060776
NearestCentroid,0.546039,0.580404,0.550910,metadata,"3,0",0.591,0.040090
DecisionTreeClassifier,0.600597,0.607576,0.559265,metadata,3,0.563,0.003735
LogisticRegression,0.580071,0.605758,0.562425,metadata,"0,3",0.578,0.015575
SVC,0.590208,0.594444,0.550604,metadata,3,0.574,0.023396
BaggingClassifier,0.618274,0.614646,0.567548,metadata,3,0.631,0.063452
RandomForestClassifier,0.503327,0.503737,0.486752,metadata,NaN,0.576,0.089248
AdaBoostClassifier,0.603628,0.616667,0.564265,metadata,3,0.536,-0.028265
GradientBoostingClassifier,0.592516,0.605556,0.552288,metadata,3,0.569,0.016712
GaussianNB,0.650101,0.633737,0.627402,textual,"2775,773,2583,2829,2072,612,2096,483,1289,1800...",0.702,0.074598
KNeighborsClassifier,0.644111,0.634646,0.608695,textual,"16,2903,1172,2527,2976,1181,2170,1357,3102,174...",0.666,0.057305
SVC,0.300554,0.547980,0.388116,textual,"2474,2938,3041,3250,2528,2752,918,2352,2310,2758",0.707,0.318884
KNeighborsClassifier,0.644375,0.635758,0.634040,visual,"1142,1072,1143,1547,997,762,1054,1073,1070,969...",0.608,-0.026040
DecisionTreeClassifier,0.643956,0.640606,0.635483,visual,"1391,385,1512,264,252,1037,1171,1091,65,1325,5...",0.535,-0.100483
LogisticRegression,0.646265,0.628485,0.619813,visual,"574,203,1171,828,103,1539,1643,813,123,101,140...",0.608,-0.011813
SVC,0.607171,0.624646,0.562369,visual,"752,905,1023,687,1528,939,397,1092,456,1310,76...",0.580,0.017631
RandomForestClassifier,0.453981,0.462929,0.445575,visual,NaN,0.638,0.192425
AdaBoostClassifier,0.699845,0.675051,0.664257,visual,"1334,117,501,676,1230,1564,28,508,222,353,16,1...",0.654,-0.010257
GradientBoostingClassifier,0.705029,0.665960,0.655053,visual,"120,1118,833,1438,824,1330,1389,256,386,995,13...",0.587,-0.068053
LogisticRegression,0.603013,0.603434,0.593673,audio,"9,5",0.546,-0.047673
GradientBoostingClassifier,0.663218,0.655960,0.650645,audio,"2,10,0",0.587,-0.063645

Some, like Support Vector Machines with radial kernel for textual data differ a lot! (0.318884 worse!)

# 3.3 Classifier stacking

## Majority Voting
This is the simplest case, where we select classifiers and feature subspaces through the steps above, and assign final predicted labels through majority voting on the labels of the 21 classifiers.

First we prepare a data frame containing our predictions that we have obtained by cv, so that we do not need to build it again for classifier stacking.

In [101]:
predictions_df = pd.DataFrame()
for i in range(0, 21):
    predictions_df[i] = pd.Series([0]*df_X_text.shape[0])
predictions_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Majority voting (CV)

In [122]:
classifier_combinations = pd.read_csv('./data/results_paper.csv', sep=';', encoding='utf-8', 
                                      header = 0, index_col = 0)[["Modality", "Features"]]
df_y = df_y_text

kf = KFold(n_splits = 10, random_state = 123)
           
random.seed(123)

f1 = 0
f1_scores_voting = [0]*10
recall = 0
precision = 0

k = 0
for train_index, test_index in kf.split(df_X_text):
    predicitons = [0] * len(test_index)  
    
    i = 0
    for index, row in classifier_combinations.iterrows():
        model = str2Class(index)       
        
        # get correct data frame
        if row["Modality"] == "metadata":
            df_x = X_labelencoded_meta
        elif row["Modality"] == "visual":
            df_x = df_scaled_X_visual
        elif row["Modality"] == "textual":
            df_x = df_X_text
        else:
            df_x = df_X_audio
        
        
        # Calculate and append LVW metrics
        if getModelName(model) == "RandomForestClassifier":
            # evaluate random forest without selected features since it already performs feature selection
            mod = model.fit(df_x.loc[train_index, :], df_y[train_index])
            pred = mod.predict(df_x.iloc[test_index, :])
            
        else:
            # get results with features from LVW        
            features = [int(i) for i in row["Features"].split(",")]
            df_x_features = df_x[df_x.columns[features]]
            
            # Predicitions
            mod = model.fit(df_x_features.loc[train_index, :], df_y[train_index])
            pred = mod.predict(df_x_features.iloc[test_index, :])    
        
        for j, p in enumerate(pred):
            predictions_df.loc[j + test_index[0] , i] = p
        predicitons = predicitons + pred
        i = i + 1

    predictions_majority = pd.Series(predicitons).map(lambda x: 0 if x < classifier_combinations.shape[0]/2 else 1)
    
    # Save F1 scores for significance testing later on
    f1_scores_voting[k] = f1_score(df_y[test_index], predictions_majority)
    f1 = f1 +  f1_scores_voting[k] 
    k = k + 1
    
    recall = recall + recall_score(df_y[test_index], predictions_majority)
    precision = precision + precision_score(df_y[test_index], predictions_majority)
    
    
    
    
print("Precision: " + str(precision/10))
print("Recall: " + str(recall/10))
print("F1 score: " + str(f1/10))

print("F1 scores by CV: " + str(f1_scores_voting))

0
0.7999999999999999
1
0.6666666666666667
2
0.6666666666666666
3
0.7142857142857143
4
0.8571428571428571
5
0.7692307692307693
6
0.7692307692307693
7
0.7692307692307693
8
0.9090909090909091
9
0.0
Precision: 0.6013888888888889
Recall: 0.8238095238095238
F1 score: 0.6921545121545122
F1 scores by CV: [0.7999999999999999, 0.6666666666666667, 0.6666666666666666, 0.7142857142857143, 0.8571428571428571, 0.7692307692307693, 0.7692307692307693, 0.7692307692307693, 0.9090909090909091, 0.0]

### Majority voting (test)
Here we fit the models for the training data, and obtain test performance also by using 10-fold CV, like mentioned in the paper.

We did the CV for the training data to check its robustness against different splits, because somehow it makes no sense to split the test data at all.

In [103]:
# create prediction data frame for label stacking test
predictions_test_df = pd.DataFrame()
for i in range(0, 21):
    predictions_test_df[i] = pd.Series([0]*df_X_text_test.shape[0])
predictions_test_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [104]:
df_y_test = df_y_meta_test

f1 = 0
f1_scores_voting_test = [0]*10
recall = 0
precision = 0

k = 0
# use k-fold cv for training data and apply it on test data
for train_index, test_index in kf.split(df_X_text):
    predicitons = [0] * df_y_test.shape[0] 
    
    i = 0
    for index, row in classifier_combinations.iterrows():
        model = str2Class(index)       
        
        # get correct data frames
        if row["Modality"] == "metadata":
            df_x = X_labelencoded_meta
            df_x_test = X_labelencoded_meta_test
        elif row["Modality"] == "visual":
            df_x = df_scaled_X_visual
            df_x_test = df_scaled_X_visual_test
        elif row["Modality"] == "textual":
            df_x = df_X_text
            df_x_test = df_X_text_test
        else:
            df_x = df_X_audio
            df_x_test = df_X_audio_test
        
        
        # Calculate and append LVW metrics
        if getModelName(model) == "RandomForestClassifier":
            # evaluate random forest without selected features since it already performs feature selection
            # fit on training data
            mod = model.fit(df_x.loc[train_index, :], df_y[train_index])
            # evaluation for test data
            pred = mod.predict(df_x_test)
            
        else:
            # get results with features from LVW        
            features = [int(i) for i in row["Features"].split(",")]
            df_x_features = df_x[df_x.columns[features]]
            
            # Fit model for CV of train data
            mod = model.fit(df_x_features.loc[train_index, :], df_y[train_index])
            df_x_features_test = df_x_test[df_x_test.columns[features]]
            
            # Predicitions for test data
            pred = mod.predict(df_x_features_test)    
        
        for j, p in enumerate(pred):
            predictions_test_df.loc[j , i] = p
        predicitons = predicitons + pred
        i = i + 1

    predictions_majority = pd.Series(predicitons).map(lambda x: 0 if x < classifier_combinations.shape[0]/2 else 1)
    
    f1_scores_voting_test[k] = f1_score(df_y_test, predictions_majority)
    f1 = f1 +  f1_scores_voting[k] 
    k = k + 1

    recall = recall + recall_score(df_y_test, predictions_majority)
    precision = precision + precision_score(df_y_test, predictions_majority)
    
print("Precision: " + str(precision/10))
print("Recall: " + str(recall/10))
print("F1 score: " + str(f1/10))

print("F1 scores by CV: " + str(f1_scores_voting))

Precision: 0.5864121613891007
Recall: 0.5748148148148149
F1 score: 0.6921545121545122
F1 scores by CV: [0.7999999999999999, 0.6666666666666667, 0.6666666666666666, 0.7142857142857143, 0.8571428571428571, 0.7692307692307693, 0.7692307692307693, 0.7692307692307693, 0.9090909090909091, 0.0]

## Label Stacking
Assume we have n instances and T base classifiers, then we can generate an n by T matrix consisting of predictions (labels) given by each classifier. Label combining strategy tries to build a second-level classifier based on this label matrix, and return a final prediction result for that.

### Label Stacking (cv)
Here we use the prediction data frame obtained by the predictions already done in the previous section. The best one is obtained by AdaBoost as a meta learner, with an F1 score of 0.721267.

In [111]:
def calculate_metrics_extended(clf, X, y):
    metric =  cross_validate(clf, X, y, scoring=('precision_weighted','recall_weighted','f1_weighted'), 
                             return_train_score=False, cv=10)  
    return pd.Series({'precision':metric['test_precision_weighted'].mean(),'recall':metric['test_recall_weighted'].mean(),
                      'F1':metric['test_f1_weighted'].mean(),
                     'F1 scores': metric['test_f1_weighted']})


def evaluate_models_extended(X, y):
    metrics = pd.DataFrame()

    for model in model_list:
        m = calculate_metrics_extended(model, X, y)
        metrics[getModelName(model)] = m

    return metrics.T

In [118]:
display(predictions_df.head(2))

label_stack = evaluate_models_extended(predictions_df, df_y)
label_stack[["precision", "recall", "F1"]]

,l0,l1,l2,l3,l4,l5,l6,l7,l8,l9,...,l11,l12,l13,l14,l15,l16,l17,l18,l19,l20
0,1,1,1,1,0,1,1,1,1,1,...,1,0,1,0,1,0,0,1,1,1
1,0,1,1,1,1,1,1,1,1,0,...,1,0,0,0,1,0,1,0,0,0

                           precision    recall        F1
KNeighborsClassifier        0.666811  0.674141  0.657086
NearestCentroid             0.652417  0.633939   0.62469
DecisionTreeClassifier      0.612983  0.628586  0.609128
LogisticRegression          0.760024  0.737879  0.732372
SVC                         0.652411  0.657071   0.62902
BaggingClassifier           0.603853  0.610606  0.596973
AdaBoostClassifier          0.707124  0.683232  0.671956
GradientBoostingClassifier  0.622662  0.620808  0.596013
RandomForestClassifier      0.629113  0.620808  0.611445
GaussianNB                  0.616697  0.623939  0.605263

### Label Stacking (test)
We obtained the best results with the KNeighborsClassifier, with an F1 score of 0.546670.

In [106]:
display(predictions_test_df.head(2))


label_stack_scores = pd.DataFrame()
label_stack_scores["Classifier"] = pd.Series()
label_stack_scores["Precision"] = pd.Series()
label_stack_scores["Recall"] = pd.Series()
label_stack_scores["F1"] = pd.Series()
label_stack_scores["F1 scores"] = pd.Series()

for model in model_list:
    f1 = [0]*10
    recall = [0]*10
    precision = [0]*10
    i = 0
    for train_index, test_index in kf.split(predictions_df):
        # Fit model for CV of train data
        mod = model.fit(predictions_df.loc[train_index, :], df_y[train_index])
        # Predicitions for test data
        pred = mod.predict(predictions_test_df)
        
        f1[i] = f1_score(df_y_test, pred)
        recall[i] = recall_score(df_y_test, pred)
        precision[i] = precision_score(df_y_test, pred)
        i = i + 1
    
    label_stack_scores = label_stack_scores.append(pd.Series({"Classifier": getModelName(model),
                                        "Precision": np.mean(precision),
                                        "Recall": np.mean(recall),
                                        "F1": np.mean(f1),
                                        "F1 scores": f1}), 
                              ignore_index = True)
    
label_stack_scores[["Classifier", "Precision", "Recall", "F1"]]

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,1,0,1,0,1,1,1,1,1,0,...,1,1,1,1,1,1,0,1,1,1
1,1,1,0,1,1,0,1,0,0,0,...,1,1,1,1,1,0,0,1,1,1

                   Classifier  Precision    Recall        F1
0        KNeighborsClassifier   0.611741  0.549630  0.577859
1             NearestCentroid   0.583752  0.300000  0.393156
2      DecisionTreeClassifier   0.587532  0.443704  0.494951
3          LogisticRegression   0.603292  0.374074  0.454891
4                         SVC   0.610404  0.570370  0.583723
5           BaggingClassifier   0.606751  0.465185  0.523841
6          AdaBoostClassifier   0.616576  0.298519  0.394800
7  GradientBoostingClassifier   0.629035  0.485926  0.541962
8      RandomForestClassifier   0.577879  0.417037  0.479420
9                  GaussianNB   0.627487  0.144444  0.234754

## Label-Attribute Stacking
Similar to label stacking, label-feature stacking strategy uses both base-classifier predictions and features as training data to predict output.

For that reason, we merge the prediction labels obtained by the test data and merge them with all features.

In [107]:
# Adapt training data
new_cols = [0]*predictions_df.columns.size
for i, val in enumerate(predictions_df.columns):
    new_cols[i] = "l"+str(i)
predictions_df.columns = new_cols

label_feature_train = predictions_df.join(df_X_text) \
                                        .join(X_labelencoded_meta, rsuffix='_meta') \
                                        .join(df_X_audio) \
                                        .join(df_scaled_X_visual, rsuffix='vis') \

display(label_feature_train.head(2))


# Adapt test data
new_cols = [0]*predictions_test_df.columns.size
for i, val in enumerate(predictions_test_df.columns):
    new_cols[i] = "l"+str(i)
predictions_test_df.columns = new_cols

label_feature_test = predictions_test_df.join(df_X_text_test) \
                                        .join(X_labelencoded_meta_test, rsuffix='_meta') \
                                        .join(df_X_audio_test) \
                                        .join(df_scaled_X_visual_test, rsuffix='vis') \

display(label_feature_test.head(2))

,l0,l1,l2,l3,l4,l5,l6,l7,l8,l9,...,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651
0,1,1,1,1,0,1,1,1,1,1,...,0.346819,-0.256042,-0.326896,0.043705,-0.195445,0.287132,-0.321261,-0.013402,-0.304257,0.021692
1,0,1,1,1,1,1,1,1,1,0,...,2.576495,0.951241,-0.350476,0.052596,-0.301344,0.039139,-0.277715,0.145950,-0.314509,0.030172

,l0,l1,l2,l3,l4,l5,l6,l7,l8,l9,...,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651
0,1,0,1,0,1,1,1,1,1,0,...,1.195796,0.775823,-0.884788,-0.645061,-0.792237,-0.530113,-0.824228,-0.546300,-0.769062,-0.508099
1,1,1,0,1,1,0,1,0,0,0,...,0.517933,0.114551,-0.962248,-0.723853,-0.973220,-0.711025,-1.007682,-0.723235,-0.962423,-0.702882

### Label Attribute Stacking (CV)

In [120]:
label_feature_stack_cv = evaluate_models_extended(label_feature_train, df_y)
label_feature_stack_cv[["precision", "recall", "F1"]]

                           precision    recall        F1
KNeighborsClassifier        0.621403  0.630606  0.610811
NearestCentroid             0.532706  0.503737  0.483416
DecisionTreeClassifier      0.486228  0.479091  0.471459
LogisticRegression          0.586768  0.582222  0.576436
SVC                          0.37006  0.482222  0.390764
BaggingClassifier           0.532929  0.544848  0.526965
AdaBoostClassifier          0.501068  0.501414  0.489167
GradientBoostingClassifier  0.509986  0.493333  0.477236
RandomForestClassifier      0.599591  0.587071  0.581262
GaussianNB                  0.537073  0.558182  0.538881

### Label Attribute Stacking (Test)

In [108]:
label_feature_stack_scores = pd.DataFrame()
label_feature_stack_scores["Classifier"] = pd.Series()
label_feature_stack_scores["Precision"] = pd.Series()
label_feature_stack_scores["Recall"] = pd.Series()
label_feature_stack_scores["F1"] = pd.Series()
label_feature_stack_scores["F1 scores"] = pd.Series()

for model in model_list:
    f1 = [0]*10
    recall = [0]*10
    precision = [0]*10
    i = 0
    for train_index, test_index in kf.split(label_feature_train):
        # Fit model for CV of train data
        mod = model.fit(label_feature_train.loc[train_index, :], df_y[train_index])
        # Predicitions for test data
        pred = mod.predict(label_feature_test)
        
        f1[i] = f1_score(df_y_test, pred)
        recall[i] = recall_score(df_y_test, pred)
        precision[i] = precision_score(df_y_test, pred)
        i = i + 1
    
    label_feature_stack_scores = label_feature_stack_scores.append(pd.Series({"Classifier": getModelName(model),
                                        "Precision": np.mean(precision),
                                        "Recall": np.mean(recall),
                                        "F1": np.mean(f1),
                                        "F1 scores": f1}), 
                              ignore_index = True)
    
label_feature_stack_scores[["Classifier", "Precision", "Recall", "F1"]]

                   Classifier  Precision    Recall        F1
0        KNeighborsClassifier   0.605097  0.651852  0.626941
1             NearestCentroid   0.615346  0.409630  0.486454
2      DecisionTreeClassifier   0.626408  0.614074  0.609995
3          LogisticRegression   0.606685  0.589630  0.589537
4                         SVC   0.618052  0.838519  0.709803
5           BaggingClassifier   0.625071  0.499259  0.550726
6          AdaBoostClassifier   0.597622  0.682963  0.632554
7  GradientBoostingClassifier   0.621470  0.634815  0.625655
8      RandomForestClassifier   0.601521  0.491852  0.534624
9                  GaussianNB   0.575925  0.645185  0.608298

# Significance Testing

## Testing for results obtained with Feature Selection
Here we made tests for alpha = 0.05 on combinations from the paper, the baseline is the F1 score predicting always the most frequent class  (around 0.7!).

We take a look on the cross validation settings of the results achieved by feature results, and compare our results to the baseline. According to the paper, the majority class baseline  is 0.5 (precision, recall and F1-score). We decided to calculate it on our own because it differs a lot from the actual F1 if predicting always the majority class.

The selected features from the task before are obtained to identify statistical significance.

We can assume that the F1 scores are normally distributed because of the CLT, because of that it is suitable to apply t tests. We take a the basline F1 score for the population of the data, and calculate our mean and standard deviation of F1 score out of the cross validation results.

In [34]:
alpha = 0.05
df_y = df_y_text

def calculate_F1_scores_cv(clf, X, y):
    metric =  cross_validate(clf, X, y, scoring=('f1_weighted'), return_train_score = False, cv = 10)  
    return metric['test_score']


def t_test(f1_scores, population_mean = 0.5):
    mu_sample = f1_scores.mean()
    n = len(f1_scores)
    std = sqrt((abs(f1_scores - mu_sample)**2).mean())   
    
    return (mu_sample - population_mean) / (std / sqrt(n))



classifier_combinations = pd.read_csv('./data/results_paper.csv', sep=';', encoding='utf-8', 
                                      header = 0, index_col = 0)[["Modality", "Features"]]

# TODO: We have to decide if we take as a baseline the one from the paper (0.5) or predicting the most frequent class!
#       I think the actual baseline is more suitable, but we should mention in the report that they differ.
baseline =  (df_labled_movies[df_labled_movies['goodforairplane'] == 1]['goodforairplane'].count() /  
             df_labled_movies['goodforairplane'].count())
baseline_f1 = f1_score(([1] if baseline > 0.5 else [0]) * len(df_labled_movies['goodforairplane']), 
                       df_labled_movies['goodforairplane'])
print("Baseline: " + str(baseline_f1))


for index, row in classifier_combinations.iterrows():
        model = str2Class(index)

        # get correct data frame
        if row["Modality"] == "metadata":
            df_x = X_labelencoded_meta
        elif row["Modality"] == "visual":
            df_x = df_scaled_X_visual
        elif row["Modality"] == "textual":
            df_x = df_X_text
        else:
            df_x = df_X_audio
               
        # Calculate and append LVW metrics
        if getModelName(model) == "RandomForestClassifier":
            # evaluate random forest without selected features since it already performs feature selection
            random.seed(123)
            metric = calculate_F1_scores_cv(model, df_x, df_y)
        else:
            # get results with features from LVW        
            features = [int(i) for i in row["Features"].split(",")]
            df_x_features = df_x[df_x.columns[features]]
            random.seed(123)
            metric = calculate_F1_scores_cv(model, df_x_features, df_y)
        
        # Calculate one sample t-test score
        t_score = t_test(metric, baseline_f1)
        df = len(metric - 1)
        # calculate the critical value
        cv = t.ppf(1.0 - alpha, df)
        
        print(str(index) + " - " + row["Modality"] + ": " + str(t_score) + ", " + 
              ("reject" if abs(t_score) <= cv else "keep"))

Baseline: 0.707482993197279
KNeighborsClassifier - metadata: -2.356004359495605, keep
NearestCentroid - metadata: -3.3348291810906527, keep
DecisionTreeClassifier - metadata: -3.187220703536219, keep
LogisticRegression - metadata: -2.849044391095118, keep
SVC - metadata: -5.138966877832904, keep
BaggingClassifier - metadata: -4.221378769445912, keep
RandomForestClassifier - metadata: -4.54029528503744, keep
AdaBoostClassifier - metadata: -3.2712569875344513, keep
GradientBoostingClassifier - metadata: -3.961930157418792, keep
GaussianNB - textual: -7.180948864974493, keep
KNeighborsClassifier - textual: -9.89148042770551, keep
SVC - textual: -53.59221026589789, keep
KNeighborsClassifier - visual: -2.149097471738321, keep
DecisionTreeClassifier - visual: -2.0020511831469836, keep
LogisticRegression - visual: -1.678504577920555, reject
SVC - visual: -3.040826749804516, keep
RandomForestClassifier - visual: -4.468777763182448, keep
AdaBoostClassifier - visual: -1.9982933190472205, keep
GradientBoostingClassifier - visual: -1.0835863334030607, reject
LogisticRegression - audio: -2.3370400547056063, keep
GradientBoostingClassifier - audio: -1.4436267139546701, reject

## Significance testing for Classifier stacking
We should also compare them to the baseline, maybe also to the results using just a single classifier. This can of course also be done directly in the code above, maybe saves some work.

TODO: The baselines for cv and test would differ a bit, we could merge the data to get an F1 for the population.

In [35]:
baseline =  (df_labled_movies_test[df_labled_movies_test['goodforairplane'] == 1]['goodforairplane'].count() /  
             df_labled_movies_test['goodforairplane'].count())
baseline_f1 = f1_score(([1] if baseline > 0.5 else [0]) * len(df_labled_movies_test['goodforairplane']), 
                       df_labled_movies_test['goodforairplane'])
print("Baseline: " + str(baseline_f1))

Baseline: 0.7541899441340781